.TextBox {
    width: 355px;
    height: 213px;
    background-color: rgb(255, 255, 255);    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    margin: 10px;
    min-width: 355px;
    min-height: 213px;
}

.TextBox:hover {     
    background-color: rgb(250, 250, 250); ;    
}

.text {
    margin: 45px 45px;
    margin-bottom: 70px;
    min-height: 45px;
    max-height: 45px;
    cursor: pointer;
    word-wrap: break-word;
}

.textfield {
    height: 15px;
    width: 250px;
    align-self: flex-end;
    font-size: 12px;
    color: #808080;
    font-style: italic;
    border: none;
}

.card-footer {
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TextBox-source{
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.TextBox-source-icon {
    user-select:none;
    padding: 5px;
    padding-left: 15px;
}

.TextBox-source-text {
    font-size: 12px;
    padding: 5px;
    color: #808080;
    font-style: italic;

}

.TextBox-source-tooltip {
    position: relative;
    display: inline-block;
  }

.TextBox-source-tooltip .TextBox-source-tooltip-text{
    visibility: hidden;
    background-color: #535353;
    color: #fff;

    padding: 5px 10px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 4px;

    font-size: 12px;

    width: fit-content;
    bottom: 110%;
    left: 70px;
    margin-left: -60px;

    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 1s;
    
}

/*  arrow on border */
.TextBox-source-tooltip .TextBox-source-tooltip-text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 18px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #535353 transparent transparent transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.TextBox-source-tooltip:hover .TextBox-source-tooltip-text{
    visibility: visible;
    opacity: 0.8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.divider {
    border: 4px solid #F3F3F3;
    user-select:none;
    background-color: #F3F3F3;
}

.delete {
    cursor: pointer;
    user-select:none;
    padding: 5px;
    padding-right: 15px;
}