.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #FFD89D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 10vh;
  position:relative;
}

.App-header {
  background-color: #419462;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-color: #FFD89D;
  width: 30vw;
  position: absolute;
  left: 5vh;
  top: 5vh;
  height: 30vh;
  color: black;
  border-radius: 5vh;
}

.text-list {
  background-color: #FFD89D;
  width: 60vw;
  position: absolute;
  right: 5vh;
  height: 100vh;
  color: black;
  padding-top: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
