.Dashboard {
    margin-left: 250px; /* size of sidebar */
    width: 100%; /* Fill the rest of the screen*/
}

.Dashboard-header-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.Dashboard-title {
    font-weight: 600;
    font-size: 36px;
}

.Dashboard-reload-button {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}