.TextBox {
    width: 355px;
    height: 213px;
    background-color: rgb(255, 255, 255);    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    margin: 10px;
    min-width: 355px;
    min-height: 213px;
}

.TextBox:hover {     
    background-color: rgb(250, 250, 250); ;    
}

.text {
    margin: 45px 45px;
    margin-bottom: 70px;
    min-height: 45px;
    max-height: 45px;
    cursor: pointer;
}

.textfield {
    height: 15px;
    width: 250px;
    align-self: flex-end;
    font-size: 12px;
    color: #808080;
    font-style: italic;
    border: none;
}

.card-footer {
    margin: 13px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.source {
    user-select:none;
    cursor:pointer;
}

.divider {
    border: 4px solid #F3F3F3;
    user-select:none;
    background-color: #F3F3F3;
}

.delete {
    cursor: pointer;
    user-select:none;
}