.TextBoxEdit{
    width: 355px;
    height: 213px;
    background-color: rgb(255, 255, 255);    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    margin: 10px;
    min-width: 355px;
}

.text-box-edit-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    height: 100%;
}

.edit-label{
    flex: 1;
    padding: 5px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

textarea {
    border-style: hidden;
    outline: none;
    width: calc(100% - 50px);
    height: 100px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0px;
    word-break: break-all;
    resize: none;
  }

.text-box-edit-footer{

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.send-icon{
    margin: 15px 20px;
}
